* {
    font-family: 'Montserrat';
}

/*Top Menu*/
.logo{
    color:#d9233a;
}
.menunumber{
    transition: .3s all;
    color: #f02342;
}

.menulink{
    transition: .3s all;
    color:#fff;
}

.menulink-sm{
    transition: .3s all;
    color:#fff;
    background-color: #ffdadf;
}

.menulink:hover{
    color: #f02342 !important;
}

.menulink:hover .menunumber{
    color: #ffdadf !important;
}

/*Main*/
.title{
    font-weight: 900;
    font-size: 62px;
}

/*Projects*/
.bg-project{
    background-color: #f02342;
}